head
  title azium-seed
  meta(name='viewport' content='width=device-width')
  link(rel="stylesheet" type="text/css" href="https://cloud.typography.com/7148712/797046/css/fonts.css")
  link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css")

body
  +main
